$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap/scss/bootstrap';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';
// @import url('https://fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Mitr:200,300,400,500,600,700|Aldrich|Basic|Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Monoton|Varela+Round|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Varela+Round|Mukta:200,300,400,500,600,700,800|Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

/************************************
COLOR MIXES
************************************/

$five-percent-gray: #f2f2f2;
$six-percent-gray: #f0f0f0;
$ten-percent-gray: #e5e5e5;
$thirty-percent-gray: #b3b3b3;
$fifty-percent-gray: #7f7f7f;
$seventy-five-percent-gray: #636466;
$ninety-percent-gray: #191919;
$black: #000;
$white: #fff;
$red: #f00;
$green: #0f0;
$blue: #00f;
$red-muted: #f64154;
$green-muted: #77d283;
$blue-muted: #7073ff;
$yellow-muted: #ffe664;
$orange-muted: #ff9600;
$cyan: #0ff;
$magenta: #f0f;
$yellow: #ff0;
$rainbow-red: #f27089;
$rainbow-orange: #fca778;
$rainbow-yellow: #fbde84;
$rainbow-green: #9ac479;
$rainbow-blue: #74a6cf;
$grass-green: #b8d77d;
$red-muted: #f64154;
$green-muted: #77d283;
$blue-muted: #7073ff;
$yellow-muted: #ffe664;
$orange-muted: #ff9600;
$sky-blue: #a7c5df;
$cloud-white: #f7f0e3;
$lines-brown: #3a2328;
$stem-green: #358d65;
$red-amped: rgb(255, 38, 61);
$green-amped: rgb(36, 214, 60);
$blue-amped: rgb(38, 41, 255);
$yellow-amped: #fff200;
$pale-blue: rgb(219, 255, 254);

/************************************
HEADER & NAV BAR
************************************/

body {
  background-color: $seventy-five-percent-gray;
}

html {
  font-family: 'Mukta', sans-serif;
  font-size: 15px;
  height: 100%;
  letter-spacing: 0.25rem;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
}

header {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

nav {
  // align-content: center; Note: this property has no effect when there is only one line of flex items.
  background-color: $thirty-percent-gray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 38px;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.p-logo-nav {
  cursor: pointer;
  height: 30px;
  position: relative;
  top: -4px;
  width: 30px;
}

.nav-button {
  background-color: $fifty-percent-gray;
  border: 0;
  border-radius: 0.5rem;
  color: $cloud-white;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 0.25rem;
  letter-spacing: 0.25rem;
  padding: 0.125rem 0 0.125rem 0.4rem;
  position: relative;
  text-transform: uppercase;
  top: -2px;
  width: 150px;
}

.nav-drawer {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 2.25rem;
  top: 38px;
  z-index: 4;
}

.nav-menu-default,
.nav-menu-signed-in {
  display: flex;
  flex-direction: column;
  outline: 1px solid $lines-brown;
  position: relative;
}

.nav-drawer-button {
  background-color: $ten-percent-gray;
  border: 1px solid $lines-brown;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  letter-spacing: 0.25rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
}

/************************************
INTRO MODAL
************************************/

.intro-text-modal {
  background-color: $ten-percent-gray;
  border-radius: 1rem;
  padding: 1rem;
}

.intro-p {
  display: flex;
  justify-content: center;
}

.p-logo-intro {
  height: 40px;
  margin: 0 auto 0.75rem;
  position: relative;
  top: -0.75rem;
  width: 40px;
}

.patturns-title,
.intro-text,
.at-line {
  color: $orange-muted;
  font-family: 'Nunito', sans-serif;
  font-style: italic;
  font-size: 0.8rem;
  font-weight: 800;
  letter-spacing: 0.15rem;
  line-height: 1.5rem;
  text-align: left;
  text-transform: uppercase;

  &.intro-text {
    background-color: $white;
    border: 1px solid $fifty-percent-gray;
    border-radius: 0.8rem;
    color: $seventy-five-percent-gray;
    font-style: normal;
    font-weight: 700;
    padding: 1.5rem;

    & .at-line {
      color: $sky-blue;
      margin: 1rem auto 0;
      pointer-events: auto;
      text-align: center;
      user-select: auto;
      z-index: 10;
    }
  }
}

a {
  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

/************************************
BUTTON STYLES
************************************/

.form-button {
  background-color: $fifty-percent-gray;
  border: 0;
  border-radius: 0.5rem;
  color: $cloud-white;
  cursor: pointer;
  display: block;
  flex-grow: 1;
  font-size: 16px;
  letter-spacing: 0.25rem;
  margin: 10px auto;
  max-width: 100%;
  padding: 0.125rem 0 0.125rem 0.4rem;
  position: relative;
  text-transform: uppercase;
  top: 4px;
  user-select: none;
}

/************************************
COLORS & PATTERNS MENUS
************************************/

// This is the outer flexbox for the grid plus colors and patterns menus
.main-elements {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

// This is the inner flexbox for colors and patterns menus
.menu-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  top: -50px;
  width: 95vw;
  z-index: 5;
}

.colors-menu,
.patterns-menu {
  align-content: center;
  background-color: $thirty-percent-gray;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100px;
  justify-content: space-evenly;
  order: 1;
  position: relative;
  width: 200px;

  &.patterns-menu {
    flex-direction: column;
    order: 2;
  }

  &.all-rounded {
    border-radius: 1rem;
  }
}

.color-box {
  align-items: center;
  background-color: $six-percent-gray;
  border-radius: 1rem;
  display: flex;
  height: 80px;
  justify-content: center;
  margin: 10px 0;
  width: 80px;

  & .clear-grid-button {
    background-color: $fifty-percent-gray;
    border: 0;
    color: $cloud-white;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    padding: 0 0 0 0.2rem;
    text-transform: uppercase;
  }
}

.color-drawer {
  position: absolute;
  top: -200px;
  width: 75px;
}

.color-bar {
  background-color: $white;
  border: 1px solid $ninety-percent-gray;
  border-radius: 1rem;
  cursor: pointer;
  height: 25px;
  position: relative;
  z-index: 10;

  &.bar-black {
    background-color: $ninety-percent-gray;
  }

  &.bar-brown {
    background-color: $lines-brown;
  }

  &.bar-white {
    background-color: $white;
  }

  &.bar-red {
    background-color: $red-muted;
  }

  &.bar-orange {
    background-color: $orange-muted;
  }

  &.bar-yellow {
    background-color: $yellow-muted;
  }

  &.bar-green {
    background-color: $green-muted;
  }

  &.bar-blue {
    background-color: $blue-muted;
  }
}

.current-color {
  background-color: $fifty-percent-gray;
  border: 2px solid $seventy-five-percent-gray;
  border-radius: 50%;
  cursor: pointer;
  height: 75%;
  top: 50%;
  width: 75%;

  &.color-black {
    background-color: $ninety-percent-gray;
  }

  &.color-brown {
    background-color: $lines-brown;
  }

  &.color-white {
    background-color: $white;
  }

  &.color-red {
    background-color: $red-muted;
  }

  &.color-orange {
    background-color: $orange-muted;
  }

  &.color-yellow {
    background-color: $yellow-muted;
  }

  &.color-green {
    background-color: $green-muted;
  }

  &.color-blue {
    background-color: $blue-muted;
  }
}

input { // form input fields
  border-radius: 0.5rem;
  color: $lines-brown;
  font-size: 16px;
  letter-spacing: 0.125rem;
  margin: 2% 5%;
  padding: 0 0.5rem;
  position: relative;
  width: 90%;
  z-index: 2;
}

/************************************
GRID & CELLS
************************************/

.mini-grid-cell {
  background-color: $white;
  height: 1px;
  outline: none;
  width: 1px;
}

.grid-cell {
  background-color: $white;
  cursor: pointer;
  height: 50px;
  outline: 0.01rem solid $black;
  transition: background-color 0.1s linear;
  width: 50px;

  // &.mini-grid-cell {
  //   height: 1px;
  //   outline: none;
  //   width: 1px;
  // }
  // &:hover {
  //   background-color: $rainbow-yellow;
  // }

  &.black {
    background-color: $ninety-percent-gray;
  }

  &.brown {
    background-color: $lines-brown;
  }

  &.white {
    background-color: $white;
  }

  &.red {
    background-color: $red-muted;
  }

  &.orange {
    background-color: $orange-muted;
  }

  &.yellow {
    background-color: $yellow-muted;
  }

  &.green {
    background-color: $green-muted;
  }

  &.blue {
    background-color: $blue-muted;
  }
}

.grid-container {
  background-color: transparent;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  height: 500px;
  margin: 0 auto;
  order: 2;
  outline: 0.2rem solid $ninety-percent-gray;
  overflow: visible;
  position: relative;
  top: 50px;
  user-select: none;
  width: 500px;
  z-index: 2;
}

/************************************
PATTERN RETURN INFO SECTION
************************************/

.info-section {
  margin: 0 auto;
  max-width: 100%;
  // padding: 0.5rem;
  position: relative;
  vertical-align: top;
}

table {
  margin: 0 auto;
  overflow: auto;
  position: relative;
  width: 90%;
}

th,
td {
  color: $lines-brown;
  font-size: 1rem;
  font-weight: 400;
  // max-height: 100px;
  max-width: 300px;
  // overflow: hidden;
  padding: 0.25rem 1rem;
  text-align: left;
  // text-overflow: clip;
  vertical-align: bottom;
  // white-space: nowrap;

  &.delete-pattern-button-td {
    white-space: normal;
  }

  & .date-span {
    color: $sky-blue;
  }
}

.mini-grid {
  background-color: $orange-muted;
  border: 0.01rem solid $black;
  height: 100px;
  // margin: 5px;
  min-width: 100px;
}

.modify-pattern-button,
.delete-pattern-button {
  border-radius: 5px;
  color: $cloud-white;
  cursor: pointer;
  font-size: 10px;
  height: 20px;
  text-transform: uppercase;

  &:focus {
    outline: 0;
  }

  &.modify-pattern-button {
    background-color: $blue-muted;

    &:hover {
      background-color: $blue-amped;
    }
  }

  &.delete-pattern-button {
    background-color: $red-muted;

    &:hover {
      background-color: $red;
    }
  }
}

/************************************
MODALS
************************************/

.modal-top {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.close {
  font-family: 'Varela Round', sans-serif;
  margin-left: -1vw;
}

.modal-title {
  color: $orange-muted;
  flex-grow: 3;
  font-size: 1.25rem;
  left: 0.5rem;
  letter-spacing: 0.5rem;
  margin: 0 auto 0.5rem;
  pointer-events: none;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  user-select: none;

  &.modal-title-green {
    color: $green-muted;
  }

  &.modal-title-red {
    color: $red-muted;
  }
}

.modal-content {
  background-color: $white;
  padding: 3%;
}

/******************
BREAKPOINT 1000px
******************/

@media only screen and (max-width: 1000px) {
  .main-elements {
    align-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60vw;
  }

  .grid-container {
    margin: 0;
  }

  .menu-elements {
    flex-direction: column;
    order: 2;
    top: 50px;
  }

  .colors-menu,
  .patterns-menu {
    border-radius: 1rem 1rem 0 0;
    margin: 0 1rem;

    &.patterns-menu {
      border-radius: 0 0 1rem 1rem;
    }
  }

  .date-th,
  .info-th {
    font-size: 1rem;
    max-width: 150px;
    padding: 5px 15px;
  }

  td {
    font-size: 1rem;
    max-width: 150px;
    padding: 2px 15px;
  }
}

/******************
BREAKPOINT 750px
******************/

@media only screen and (max-width: 750px) {
  .main-elements {
    display: block;
    flex-direction: column;
    margin: 0 auto;
    width: 90vw;
  }

  .grid-container {
    margin: 0 auto;
  }

  .menu-elements {
    flex-direction: row;
    justify-content: center;
    top: 50px;
    width: 450px;
  }

  .colors-menu,
  .patterns-menu {
    border-radius: 1rem 0 0 1rem;
    margin: 1rem 0;

    &.patterns-menu {
      border-radius: 0 1rem 1rem 0;
    }
  }
}

/******************
BREAKPOINT 500px
******************/

@media only screen and (max-width: 500px) {
  .p-logo-intro {
    height: 30px;
    margin: 0 auto 0.5rem;
    top: -1rem;
    width: 30px;
  }

  .patturns-title,
  .intro-text {
    font-size: 0.75rem;
    line-height: 1.5rem;
  }

  nav {
    padding: 0.5rem 1rem;
  }

  .menu-elements {
    top: -5px;
    width: 100%;
  }

  .nav-button {
    font-size: 0.75rem;
    font-weight: 600;
    height: 22px;
    padding: 0.125rem 0 0.125rem 0.3rem;
    top: 0;
    width: 115px;
  }

  .nav-drawer {
    right: 1.25rem;
  }

  .nav-drawer-button {
    font-size: 0.8rem;
    padding: 0.5rem 0.75rem;
    width: 115px;
  }

  .grid-container {
    height: 90vw;
    outline: 0.18rem solid $lines-brown;
    top: 45px;
    width: 90vw;
  }

  .grid-cell {
    height: 9vw;
    width: 9vw;
  }

  .colors-menu,
  .patterns-menu {
    top: 50px;
  }

  .color-box {
    margin: 10px 0;
  }

  .modal-title {
    font-size: 1rem;
  }

  .date-th,
  .info-th {
    font-size: 1rem;
    max-width: 110px;
    padding: 5px 10px;

    &.info-th {
      max-width: 110px;
    }
  }

  td {
    font-size: 1rem;
    max-width: 110px;
    padding: 2px 10px;
  }
}

/******************
BREAKPOINT 400px
******************/

@media only screen and (max-width: 400px) {
  .patturns-title,
  .intro-text,
  .at-line {
    font-size: 0.7rem;
    line-height: 1rem;
  }

  .colors-menu,
  .patterns-menu {
    border-radius: 1rem 0 0 1rem;
    height: 80px;
    top: 50px;

    .clear-grid-button {
      font-size: 0.75rem;
      font-weight: 600;
      letter-spacing: 0.15rem;
      padding: 0 0 0 0.17rem;
    }

    &.patterns-menu {
      align-content: space-between;
      border-radius: 0 1rem 1rem 0;

      & input,
      & .form-button {
        font-size: 0.65rem;
        font-weight: 600;
        height: 1.625rem;
        margin: 0 0 0 0.25rem;
        max-width: 90%;
        position: relative;
        top: -5px;
        width: 90%;

        &.form-button {
          font-size: 0.75rem;
          padding: 0 0 0 0.3rem;
          top: 3px;
        }
      }
    }
  }

  .color-box {
    height: 60px;
    margin: 10px 0;
    width: 60px;

    & button {
      font-size: 12px;
    }
  }

  .date-th,
  .info-th {
    font-size: 1rem;
    max-width: 85px;
    padding: 5px 2px;

    &.info-th {
      max-width: 60px;
    }
  }

  .date-td,
  .info-td {
    font-size: 1rem;
    max-width: 85px;
    padding: 2px 2px;

    &.info-td {
      max-width: 60px;
    }
  }

  .modify-pattern-button-td,
  .delete-pattern-button-td {
    padding: 2px 2px;
  }
}
