@import '~bootstrap/scss/bootstrap';

$five-percent-gray: #f2f2f2;
$six-percent-gray: #f0f0f0;
$thirty-percent-gray: #b3b3b3;
$fifty-percent-gray: #7f7f7f;
$black: #000;
$white: #fff;
$red: #f00;
$green: #0f0;
$blue: #00f;
$red-muted: #f64154;
$green-muted: #77d283;
$blue-muted: #7073ff;
$yellow-muted: #ffe664;
$orange-muted: #ff9600;

$cyan: #0ff;
$magenta: #f0f;
$yellow: #ff0;
$rainbow-red: #f27089;
$rainbow-orange: #fca778;
$rainbow-yellow: #fbde84;
$rainbow-yellow-light: rgba(249, 216, 113, 0.15);
$rainbow-green: #9ac479;
$rainbow-blue: #74a6cf;
$grass-green: #b8d77d;
$grass-green-light: rgba(171, 209, 106, 0.1);
$panda-purple: #9f86b0;
$dolphin-pink: #f9a2b6;
$sky-blue: #a7c5df;
$cloud-white: #f7f0e3;
$lines-brown: #3a2328;
$stem-green: #358d65;
