$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap/scss/bootstrap';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800|Mitr:200,300,400,500,600,700|Aldrich|Basic|Prompt:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Monoton|Varela+Round|Roboto');

/************************************
COLOR MIXES
************************************/

$five-percent-gray: #f2f2f2;
$six-percent-gray: #f0f0f0;
$thirty-percent-gray: #b3b3b3;
$fifty-percent-gray: #7f7f7f;
$seventy-five-percent-gray: #636466;
$black: #000;
$white: #fff;
$red: #f00;
$green: #0f0;
$blue: #00f;
$red-muted: #f64154;
$green-muted: #77d283;
$blue-muted: #7073ff;
$yellow-muted: #ffe664;
$orange-muted: #ff9600;
$cyan: #0ff;
$magenta: #f0f;
$yellow: #ff0;
$rainbow-red: #f27089;
$rainbow-orange: #fca778;
$rainbow-yellow: #fbde84;
$rainbow-green: #9ac479;
$rainbow-blue: #74a6cf;
$grass-green: #b8d77d;
$red-muted: #f64154;
$green-muted: #77d283;
$blue-muted: #7073ff;
$yellow-muted: #ffe664;
$orange-muted: #ff9600;
$sky-blue: #a7c5df;
$cloud-white: #f7f0e3;
$lines-brown: #3a2328;
$stem-green: #358d65;
$red-amped: rgb(255, 38, 61);
$green-amped: rgb(36, 214, 60);
$blue-amped: rgb(38, 41, 255);
$yellow-amped: #fff200;
$pale-blue: rgb(219, 255, 254);

/************************************
HEADER & NAV BAR
************************************/

body {
  background-color: $seventy-five-percent-gray;
  font-family: 'Mukta', sans-serif;
}

html {
  font-size: 15px;
  height: 100%;
  letter-spacing: 0.25rem;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
}

header {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.nav-bar-signed-in,
.nav-bar-start {
  // align-content: center; Note: this property has no effect when there is only one line of flex items.
  background-color: $thirty-percent-gray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 1px 1vw 0 3vw;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.p-logo-nav {
  height: 30px;
  position: relative;
  top: 3px;
  width: 30px;
}

.p-logo-intro {
  display: block;
  height: 50px;
  margin: 0 auto 20px;
  position: relative;
  // top: 3px;
  width: 50px;
}

.nav-buttons-span {
  display: flex;
  flex-direction: row;
}

/************************************
BUTTON STYLES
************************************/

.nav-button {
  background-color: $fifty-percent-gray;
  border: 0;
  border-radius: 0.5rem;
  color: $cloud-white;
  cursor: pointer;
  display: inline;
  flex-grow: 1;
  font-family: 'Mukta', sans-serif;
  font-weight: 600;
  letter-spacing: 0.25rem;
  margin: 0.5rem 1vw;
  padding: 0.1rem 3rem 0;
  text-transform: uppercase;
}

.form-button {
  background-color: $fifty-percent-gray;
  border: 0;
  border-radius: 0.5rem;
  color: $cloud-white;
  cursor: pointer;
  display: block;
  flex-grow: 1;
  font-size: 16px;
  letter-spacing: 0.25rem;
  margin: 10px auto;
  max-width: 100%;
  padding: 3px 7px;
  position: relative;
  text-transform: uppercase;
  top: 4px;
}

/************************************
COLORS & PATTERNS MENUS
************************************/

.menu-elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  top: -200px;
  width: 95vw;
  z-index: 1;
}

.intro-menu,
.colors-menu,
.patterns-menu {
  background-color: transparent;
  border-radius: 1rem;
  display: flex;
  height: 200px;
  overflow: visible;
  position: relative;
  top: 50px;
  width: 200px;

  &.intro-menu {
    background-color: $thirty-percent-gray;
    color: $lines-brown;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0;
    order: 3;
    padding: 0.75rem 0.75rem 0.5rem 0.75rem;
    text-transform: uppercase;

    & .form-button {
      padding: 2px 7px;
      width: 100%;
    }
  }

  &.colors-menu {
    align-content: center;
    background-color: $thirty-percent-gray;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    order: 1;
  }

  &.patterns-menu {
    align-content: space-between;
    flex-direction: column;
    order: 3;
  }
}

.intro-text {
  margin: 0 auto;
  padding: 0 0.5rem;
}

.color-box {
  align-items: center;
  background-color: $six-percent-gray;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  height: 40%;
  justify-content: center;
  margin: 5px;
  width: 40%;

  &.selected-color {
    background-color: $rainbow-yellow;
  }
}

.color-white,
.color-black,
.color-red,
.color-blue {
  border: 2px solid $seventy-five-percent-gray;
  border-radius: 50%;
  height: 75%;
  top: 50%;
  width: 75%;

  &.color-black {
    background-color: $black;
  }

  &.color-white {
    background-color: $white;
  }

  &.color-red {
    background-color: $red-muted;
  }

  &.color-blue {
    background-color: $blue-muted;
  }
}

input { // form input fields
  color: $lines-brown;
  font-size: 16px;
  letter-spacing: 0.125rem;
  margin: 2% 5%;
  width: 90%;
}

.pattern-field-container,
.pattern-clear-and-get-container {
  background-color: $thirty-percent-gray;
  border-radius: 1rem;
  height: 95px;
  padding: 7% 0;

  & input:not(.form-button) {
    border-radius: 0.5rem;
    height: 33px;
    margin-bottom: -2%;
    margin-top: -3%;
    padding: 0 0.5rem;
    position: relative;
    top: 0.1rem;
  }

  &.pattern-field-container {
    & .form-button {
      position: relative;
      top: 0.375rem;
    }
  }

  &.pattern-clear-and-get-container {
    margin-top: 10px;
    padding: 0;

    & .form-button {
      top: 0.125rem;
      width: 90%;
    }
  }
}

/************************************
GRID & CELLS
************************************/

.grid-cell {
  background-color: $white;
  border: 1px solid $lines-brown;
  cursor: pointer;
  height: 50px;
  transition: background-color 0.1s linear;
  width: 50px;

  // &:hover {
  //   background-color: $rainbow-yellow;
  // }

  &.black {
    background-color: $lines-brown;
  }

  &.white {
    background-color: $white;
  }

  &.red {
    background-color: $red-muted;
  }

  &.blue {
    background-color: $blue-muted;
  }
}

.grid-container {
  background-color: $white;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  height: 500px;
  margin: 0 auto;
  order: 2;
  outline-color: $lines-brown;
  outline-style: solid;
  outline-width: 2px;
  overflow: visible;
  position: relative;
  top: 50px;
  user-select: none;
  width: 500px;
  z-index: 2;
}

/************************************
PATTERN RETURN INFO SECTION
************************************/

.info-section {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

table {
  margin: 0 auto;
  overflow: auto;
  position: relative;
  vertical-align: top;
  width: 90%;
}

th {
  color: $fifty-percent-gray;
  font-size: 18px;
  max-width: 180px;
  padding: 5px 10px;
  pointer-events: none;
  text-align: left;
  text-transform: uppercase;
  vertical-align: top;
}

td {
  color: $lines-brown;
  // cursor: pointer;
  font-size: 15px;
  max-width: 180px;
  overflow: hidden;
  padding: 2px 10px;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
  z-index: 1;
}

.modify-pattern-button,
.delete-pattern-button {
  border-radius: 5px;
  color: $cloud-white;
  cursor: pointer;
  font-size: 10px;
  height: 20px;
  text-transform: uppercase;

  &:focus {
    outline: 0;
  }

  &.modify-pattern-button {
    background-color: $blue-muted;

    &:hover {
      background-color: $blue-amped;
    }
  }

  &.delete-pattern-button {
    background-color: $red-muted;

    &:hover {
      background-color: $red;
    }
  }
}

/************************************
MODALS
************************************/

.modal-top {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.close {
  font-family: 'Varela Round', sans-serif;
  margin-left: -1vw;
}

.modal-title {
  color: $orange-muted;
  flex-grow: 3;
  font-size: 20px;
  letter-spacing: 0.5rem;
  margin: 0 auto 5px;
  pointer-events: none;
  text-align: center;
  text-transform: uppercase;
  user-select: none;

  &.modal-title-green {
    color: $green-muted;
  }

  &.modal-title-red {
    color: $red-muted;
  }
}

.modal-content {
  background-color: $white;
  padding: 3%;
}

/******************
BREAKPOINT 1000px
******************/

@media only screen and (max-width: 1000px) {
  .main-elements {
    align-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 60vw;
  }

  .grid-container {
    margin: 0;
  }

  .menu-elements {
    flex-direction: column;
    order: 2;
    top: 0;
  }

  .colors-menu {
    margin: 0 0 1rem 2rem;
  }

  .intro-menu,
  .patterns-menu {
    margin: 0 0 0 2rem;
  }
}

/******************
BREAKPOINT 750px
******************/

@media only screen and (max-width: 750px) {
  .main-elements {
    display: block;
    flex-direction: column;
    margin: 0 auto;
    width: 90vw;
  }

  .grid-container {
    margin: 0 auto;
  }

  .menu-elements {
    flex-direction: row;
    top: 0;
    width: 450px;
  }

  .colors-menu {
    margin: 1rem auto;
  }

  .intro-menu,
  .patterns-menu {
    margin: 1rem auto;
  }
}

/******************
BREAKPOINT 500px
******************/

@media only screen and (max-width: 500px) {
  .menu-elements {
    // flex-direction: row;
    // top: 0;
    top: -5px;
    width: 100%; // changed
  }

  .nav-button {
    background-color: $fifty-percent-gray;
    border: 0;
    border-radius: 0.5rem;
    color: $cloud-white;
    cursor: pointer;
    display: inline;
    flex-grow: 1;
    font-family: 'Mukta', sans-serif;
    font-size: 0.8rem; // changed
    font-weight: 600;
    letter-spacing: 0.25rem;
    margin: 0.5rem 0.7em;
    padding: 0 1rem; // changed
    text-transform: uppercase;
  }

  .p-logo-nav {
    height: 25px; // changed
    position: relative;
    // top: 3px;
    width: 25px; // changed
  }

  .p-logo-intro {
    height: 35px; // changed
    margin: 0 auto 10px;
    width: 35px; // changed
  }

  .grid-container {
    height: 90vw;
    top: 45px; // changed
    width: 90vw;
  }

  .grid-cell {
    height: 9vw;
    width: 9vw;
  }

  .pattern-field-container,
  .pattern-clear-and-get-container {
    height: 68px;
    padding: 0.25rem 0;

    & input:not(.form-button) {
      border-radius: 0.5rem;
      font-size: 0.7rem;
      height: 25px;
      margin-bottom: 0; //-2%;
      margin-top: 0; //-3%;
    }

    &.pattern-field-container {
      & .form-button {
        font-size: 0.7rem;
        padding: 3px 5px;
        top: -0.05rem;
      }
    }

    &.pattern-clear-and-get-container {
      margin-top: 4px;
      padding: 0.1875rem 0 0;

      & .form-button {
        font-size: 0.7rem;
        margin: 0.5rem auto;
        padding: 3px 5px;
        top: -0.125rem;
      }
    }
  }

  .intro-menu,
  .colors-menu,
  .patterns-menu {
    background-color: transparent;
    border-radius: 1rem;
    display: flex;
    height: 140px; // changed
    overflow: visible;
    position: relative;
    top: 45px; // changed
    width: 140px; // changed

    &.colors-menu {
      align-content: center;
      background-color: $thirty-percent-gray;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      order: 1;
    }

    &.intro-menu,
    &.patterns-menu {
      align-content: space-between;
      flex-direction: column;
      order: 3;

      &.intro-menu {
        font-size: 0.75rem;
        font-weight: 700;
        padding: 0.5rem 0.5rem 0 0.5rem; // 0.75rem 0.75rem 0.5rem 0.75rem;

        & .form-button {
          font-size: 0.75rem;
          padding: 1px 3px 0;
          top: -0.1rem;
          width: 100%;
        }
      }
    }
  }

  .intro-text {
    padding: 0 0 0 2px;
  }
}
